<div class="container">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td>
                    <h4> {{product?.name}}</h4>
                </td>
            </tr>
            <tr>
                <th>Price</th>
                <td>
                    <p>{{product?.priceUnity}} </p>
                </td>
            </tr>
            <tr>
                <th>quantity</th>
                <td>
                    <p>{{product?.quantity}} </p>
                </td>

            </tr>
        </table>
    </div>

</div>