<div class="row margin">
    <div class="col-md-6 mx-auto">

        <div class="col-ms-6 ">
            <h2>Commands list</h2>
            <button (click)="addCommand()" class="btn btn-sm btn-primary marginBtn" style="margin-right:50px;">Add</button>
        </div>

        <table class="table table-striped">

            <tbody>
                <tr *ngFor="let command of commands">
                    <td>
                        {{command.date}}
                    </td>
                    <td>
                        {{command.Qntity}}
                    </td>
                    <td>
                        {{command.Qntity * command.product.priceUnity}}
                    </td>

                    <td>
                        <button (click)="displayCommand(command.id)" class="btn btn-sm btn-success" style="margin-right:50px;">Display</button>
                    </td>
                    <td>
                        <button (click)="editCommand(command.id)" class="btn btn-sm btn-warning" style="margin-right:50px;">Edit</button>
                    </td>
                    <td>
                        <button (click)="deleteCommand(command.id)" class="btn btn-sm btn-danger">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>